/* About Section */
#about-section {
    padding: 50px;
    text-align: center;
}

#about-section h1 {
    font-size: 2.5em;
    color: #559FC8; /* Azul Pagani */
    margin-bottom: 40px;
}

/* Estilos para el contenido dividido */
.about-content {
    display: flex;
    justify-content: center; /* Centramos el contenido */
    flex-direction: column;  /* Colocamos texto y fotos en vertical */
    align-items: center;
    gap: 30px;
}

/* Texto de la historia */
.history-text {
    width: 70%; /* Ajustamos el ancho para mejor presentación */
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 50px; /* Espacio adicional debajo del texto */
}

/* Galería de fotos centrada con bordes redondeados */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 40px; /* Espacio entre las imágenes */
    margin-top: 50px; /* Espacio respecto al texto */
}

.about-photo {
    width: 40%; /* Tamaño fijo para que ambas imágenes tengan el mismo tamaño */
    height: 600px; /* Fijamos una altura uniforme */
    object-fit: cover; /* Esto ajusta la imagen al contenedor sin deformarla */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Footer */
footer {
    background-color: #2d3e50;
    color: #999;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
