/* About Section */
#about-section {
    padding: 50px;
    text-align: center;
}

#about-section h1 {
    font-size: 2.5em;
    color: #559FC8; /* Azul Pagani */
    margin-bottom: 40px;
}

/* Estilos para el contenido dividido */
.about-content {
    margin-top: 30px;
    text-align: center;
}

/* Texto de la historia con márgenes creativos */
.history-text {
    margin: 0 auto;
    width: 80%; /* Ajustamos el ancho para dar espacio a los lados */
    font-size: 1.2em;
    color: #333;
    line-height: 1.8;
    text-align: justify; /* Texto justificado para una presentación más creativa */
    margin-bottom: 60px; /* Más espacio debajo del texto */
}

/* Imagen centrada con contenedor de bordes redondeados y sombra */
.image-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Espacio considerable con el texto */
    background-color: #f4f4f4; /* Fondo claro para el contenedor */
    padding: 20px;
    border-radius: 20px; /* Bordes redondeados del contenedor */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombra suave */
    width: 60%; /* Ancho del contenedor */
    margin-left: auto;
    margin-right: auto;
}

.about-photo {
    width: 100%; /* Imagen ocupa todo el contenedor */
    height: auto;
    border-radius: 20px; /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave alrededor de la imagen */
}

/* Footer */
footer {
    background-color: #2d3e50;
    color: #999;
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
