/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1; /* Blanco suave */
    color: #333; /* Gris oscuro */
  }
  
  /* Navbar */
  nav {
    background-color: #2d3e50; /* Gris medio */
    padding: 20px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 100px; /* Tamaño del logo */
    margin-left: 100px;
  }

  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #559FC8; /* Azul Pagani */
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #7bb5d5; /* Hover más claro */
  }
  
  /* Main Content */
  #featured-car {
    text-align: center;
    margin: 50px 0;
  }
  
  .car-video {
    max-width: 90%;
    max-height: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el video */
  }
  
  .center-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333; /* Gris oscuro */
    text-align: center;
  }
  
  /* Footer */
  footer {
    background-color: #2d3e50; /* Gris medio */
    color: #999; /* Gris claro */
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }
  
  footer a {
    color: #999; /* Gris claro */
    text-decoration: none;
  }
  
  footer a:hover {
    color: white; /* Blanco al pasar el ratón */
  }
  
  /* Custom classes for layout adjustments */
  .car-video-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1; /* Fondo blanco suave */
    border-radius: 10px;
  }
  
  .elegant-quote {
    font-family: 'Georgia', serif; /* Elegante tipo de letra */
    font-style: italic; /* Cursiva */
    font-size: 1.5em; /* Tamaño de fuente más grande */
    color: #559FC8; /* Color azul Pagani */
    text-align: center; /* Centrar el texto */
    margin: 20px 0; /* Margen superior e inferior */
    line-height: 1.6; /* Espaciado entre líneas */
  }
  
  footer p {
    font-size: 10px; /* Copyright más pequeño */
    color: #ccc; /* Gris claro */
  }
  
  